apache-airflow==2.3.4
bs4==0.0.1
great-expectations==0.15.21
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.4
pandas-profiling==3.3.0
pendulum==2.1.2
pickleshare==0.7.5
requests==2.28.0        
streamlit==1.12.2
typing-extensions==4.3.0
Wikipedia-API==0.5.4

 